body {
    margin-top: 0;
}

.main-panel {
    position: sticky;
    top: 0px;
    background: #fffe;
    padding: 9px 0;
}

.history-pane {
    position: fixed;
    max-height: 75vh;
    overflow: auto;

    background: #fffe;
    border: 1px solid #ddd;
    padding: 5px 0;
    font-size: 95%;
    line-height: 1.5;
}

.history-pane ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.history-pane ul li {
    padding: 0 9px;
    cursor: pointer;
}
.history-pane ul li:hover {
    background: #eee;
}